{% extends "_layout.twig" %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{alias('@web')}}/assets/banners/about.JPEG')">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>There is no need to waste resources on buying environmentally unfriendly raw material when we already have what we need. I love to recycle - make something completely new from something old, and give used things a new life at a "higher" level.</p>
        <p>For example, old newspapers are a perfect raw material for large, beautiful lamps that light up the room and the spirt. Damaged magazines can become new and fresh lampshades - or stars on a wall - or ornaments on a mirror. Old, worn-out furniture easily comes to life with only a little care and new fabric.</p>
        <p>Feel free to contact me if you have something that needs new life!</p>
        <p class="text-right">Best regards, Ann Mattheeuws</p>
        <p class="h3">Reuse, recycle - and upcycle!</p> 
      </div>
    </div>
  </div>

{% endblock %}
