{% extends "_layout.twig" %}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{alias('@web')}}/assets/banners/about.JPG')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Vi treng ikkje sløse vekk ressursar på å kjøpe miljø-uvennleg råmateriale når vi allereie har det vi treng. Eg elskar å oppsirkulere – lage noko heilt nytt av noko utdatert, gi utbrukte ting eit nytt liv på eit «høgare» nivå.</p>
        <p>For eksempel er trøytte gamle aviser eit perfekt råmateriale for store, monumentale lampar som lyser opp i kvardagen. Avdanka dameblad kan bli nye og friske lampeskjermar – eller stjerner på ein vegg og snurrig pynt på ein spegel. Gamle, utslitne møblar får nytt liv med litt stell og nytt stoff.</p>
        <p>Kontakt meg gjerne om du har noko som treng nytt liv!</p>
        <p class="text-right">Vennleg helsing Ann Mattheeuws</p>
        <p class="h3">Bruk om igjen, resirkulerer – og oppsirkuler!</p>
      </div>
    </div>
  </div>

{% endblock %}